@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .table-cell {
    @apply px-4 py-2;
  }

  .value-row:nth-child(odd) {
    @apply bg-blue-200;
  }

  .table-input {
    @apply bg-transparent outline-none w-full;
  }

  .round-btn {
    @apply w-8 h-8 font-bold rounded-full;
  }

  .danger-round-btn {
    @apply round-btn text-white bg-red-600 hover:bg-red-500;
  }

  .green-round-btn {
    @apply round-btn text-white bg-green-600 hover:bg-green-700;
  }

  th {
    @apply font-semibold;
  }
}
